extends layout

block content
  .container
    h1 Blockchain Demo
    p Forked by 
      a(href='https://reyerchu.com/') Reyer Chu  
      | from 
      a(href='https://github.com/anders94/blockchain-demo/') https://github.com/anders94/blockchain-demo/
    br
    p by 
      a(href='http://andersbrownworth.com/') Anders Brownworth 
      | 1K3NvcuZzVTueHW1qhkG2Cm3viRkh2EXJp
